[2018-01-30 21:04] shader opened #32 "Configuration issue when running './manage start'"
I attempted to follow the basic instructions in the readme, but got the following error in the docker-compose output logs after the `./manage start` step:

[code]

[2018-01-30 21:06] shader commented on #32
I seem to have been able to bypass this error by commenting out the following line:
https://github.com/bcgov/permitify/blob/c02d53666295e559ff1ae6eb90c342f3e250b66a/docker/permitify/Dockerfile#L19

I have no idea what other repercussions this may have

[2018-01-30 21:20] WadeBarnes commented on #32
Commenting out that line has ramifications for running in OpenShift.  Basically your running the commands as root rather than a regular user.

What OS are you using.

@nrempel, I think we need to set the permissions on the target folder so the scripts can copy the templates.  Would you agree?

[2018-01-30 21:23] nrempel commented on #32
@WadeBarnes I think changing the permissions on the target folder should fix this issue without breaking the Openshift deployment.

@shader for now, commenting that out shouldn't affect you if you are not using Openshift.

[2018-01-30 21:35] shader commented on #32
Yes, I'm running it locally. I'm just trying to get the demo working, and I thought that would be the easiest way.

Commenting out the line does have the unfortunate side-effect of placing root-owned files in the src directory. But I'm not sure that using id 10001 as the default user makes any more sense for local deployment; for example, my user (which owns the rest of the files in src) has ID 10

[2018-01-30 21:44] WadeBarnes commented on #32
@shader, What OS are you running docker on?  I'm assuming some flavor of Linux.

The selection of 10001 is meant to not correspond to an existing account, since OpenShift assigns a random user to the running pod.  So the purpose is to mimic that behavior.

[2018-01-30 21:47] shader opened #33 "OrgBook base url"
Right now, the default value for THE_ORG_BOOK_BASE_URL is https://django-devex-von-dev.pathfinder.gov.bc.ca/api/v1.

Is this proper / acceptable behavior for use by random people trying out your demo? Will that mess with your test environment?

If not, what is the process for setting it up locally?

[2018-01-30 22:00] WadeBarnes commented on #33
That's fine.  There are examples in the `manage` script (use `./manage -h`) to target a different server if you wish.  Such as running a docker compose instance of TheOrgBook.

[2018-01-30 22:05] nrempel commented on #32
@cywolf Wade mentioned you had similar issues to this? Are you running Linux?

[2018-01-30 22:07] shader commented on #32
Yes, I'm running a flavor of Linux. If the intent is to use a non-existent user ID, then I suppose it should be fine. There's still a non-zero chance of collision, but I'm not sure if that would be an issue.

Changing the src directory permissions might work. Two other possible solutions:

1. You could have the `manage` script copy the configuration files, instead of the `docker-entrypoint.sh` scr

[2018-01-30 22:13] shader commented on #32
With just `chmod a+rw` on `permitify/src`, I now get the following error instead:

[code]

[2018-01-30 22:15] nrempel commented on #32
What version of Docker are you running?

[2018-01-30 22:16] #33 closed

[2018-01-30 22:19] shader commented on #32
Docker version 17.09.1-ce, build 19e2cf6
docker-compose version 1.18.0, build 8dd22a9

[2018-01-30 22:24] shader commented on #32
Oops, that last error is probably because I ran it as root once and made a root sqlite.db file in the bc_registries_wallet volume. I dropped that volume and no longer run into that error.

[2018-01-30 22:26] nrempel commented on #32
What are the permissions of the project directory on your host machine?

What is the output of `ls -la`?

Try commenting out lines 17 and 18 (https://github.com/bcgov/permitify/blob/master/docker/docker-compose.yml#L17) in docker-compose.yml then build and try again.

[2018-01-30 22:35] shader opened #34 "indy.error.IndyError: ErrorCode.WalletNotFoundError"
In your README you say "try incrementing the schema version and fully restarting the server" to resolve this error. However, where should the schema version be incremented?permitify/site_templates/bc_registries/schemas.json? That didn't seem to work when I tried it.

Also, why would that have any effect when the docker-compose.yml file sets the env var `     PYTHON_ENV: development`, which in the

[2018-01-31 18:59] nrempel commented on #34
The docs are a bit out of date. We're working on a method to ensure that development machines use a unique version number.

In the short term, try changing that to something unique like 0.0.123123. Do the same in proof.py.

[2018-01-31 20:01] shader commented on #34
That worked; thanks. It still seems like an odd step to require.

[2018-01-31 20:27] shader opened #35 "ministry_of_finance node pool error"
Progressing gradually through the demo, my next error occurred while using the Ministry of Finance service at localhost:5002:

[code]
(Traceback lines not in permitify code omitted)

It worked when I tried a second time though...

[2018-01-31 23:03] nrempel commented on #34
Indy SDK requires that claim definitions be published by the issuer and thus stored in the issuer's wallet. If the claim definition exists on the ledger already, the issuer can either skip the publish step or clobber the last person to issue a claim def with that schema version number.

The solution will be to generate a unique version number for every dev machine so that developers don't clobber

[2018-02-01 19:27] nrempel commented on #35
I've seen this now as well.

I believe it occurs when you try to make a connection to the node pool while it is already open.

For several services, a connection is made on page load to verify a proof request. If you try to load the page several times in quick succession you might see this.

Currently, we open and close pool and wallet connections right before and after every interaction with the

[2018-02-02 00:19] shader commented on #34
How about referring to the schema by its hash in development mode? Then if the schema is already present on the ledger, it doesn't need to be registered again, and we don't end up with lots of identical clones. If it does change, so will the hash, so they won't clobber each other.

In production, it may still be a good idea to have a version number; I don't think full semver is a good idea, but it

[2018-02-02 00:24] shader commented on #35
Hmm. I ran into that issue on my very first time visiting that service, so I don't _think_ it should been caused by that. Unless it was connecting to the node pool for its own reasons, and I opened the URL too quickly after it started?

Either way, that should probably be insulated a little more from the user. I would have thought that the connection pooling system should be able to handle more th

[2018-02-02 17:15] nrempel commented on #35
Currently, we use a context manager to open/close a connection to the wallet and ledger on a per-transaction basis.

This is very much a WIP so if you see something that can be improved, I encourage you to dig in.

[2018-02-06 21:43] shader opened #36 "Authorizing wallet seeds"
I'm working on making a new issuer based on the example services, and they include a configuration line like the following:

https://github.com/bcgov/permitify/blob/83dd83e4137893e3909df3544b622431491b6db2/site_templates/bc_registries/config.toml#L10-L11

How does one authorize a seed on the ledger?

[2018-02-06 23:04] nrempel commented on #36
If you are using our test ledger(determined by this file https://github.com/bcgov/permitify/blob/master/src/.genesis), you can go to our page and register it manually: http://138.197.170.136

We've included a helper.

When joining the real Sovrin network, this process is not so clear. We've talked to them about it and as far as I understand it, you must provide a trust anchor with your did and ver

[2018-02-13 20:02] shader opened #37 "von connector/agent"
Just curious, but what is the relationship between the various versions and repositories containing von_connector and von_agent? They seem to exist in multiple places...

[2018-04-20 17:15] swcurran commented on #37
This has been a bubbling question that we have been addressing in a variety of small ways.  We now have a roadmap for how the pieces are all named and connected.  If you are interested - see the Quick Start guide - https://github.com/bcgov/TheOrgBook/blob/master/docker/README.md#running-a-complete-provisional-von-network

This Google Doc shows what we have and are planning to do with the repos.

h

[2018-04-20 17:15] #37 closed

[2018-04-20 17:16] #36 closed

[2018-04-20 17:17] #35 closed

[2018-04-25 16:40] swcurran opened #84 "Upgrade permitify to use VON-X and the new VON-Image based on VON-Agent 1.0.0"

[2018-04-25 17:38] jljordan42 opened #85 "Investigate the possibility of a multi-jurisdictional Permitify Recipe"
Once we have upgraded the Permitify demonstration environment to be based on VON-X architecture.

Would be interesting to create a multi-jurisdictional recipe.

For example (to be determined and discussed)
Goal: Become an aboriginal supplier for GC to compete for a contract to supply food to a Corrections Canada BC based facility

# Incorporate in ON -> Update ON ToB
# Extra-Provinically Register

[2018-04-25 18:09] jljordan42 opened #86 "Re-Factor Permitify to use VON-X"
The code aspect of the Permitify repo will be deprecated.
The re-factored repo will include documentation and configuration files necessary to create a multi-issuer/verifier <-> ToB demonstration ecosystem

[2018-04-25 18:12] swcurran commented on #84
@cywolf - I beat you to it.  Created this today.

[2018-04-25 18:13] swcurran commented on #86
Duplicate.

[2018-04-25 18:13] #86 closed

[2018-05-10 18:50] WadeBarnes opened #91 "Switch to an s2i base image and build process."
Switch to an s2i base image and build process.

[2018-05-10 18:54] WadeBarnes commented on #91
The Permitify services have been migrated over to use an s2i base image and build process.  This allows us to take advantage of the features we have pulled in from the python-s2i image for building, deploying, and running Django based python projects.

Changes to the Docker Compose process and the OpenShift configuration have been completed and tested.  The new build and deployment configurations

[2018-05-14 17:54] nrempel commented on #84
I'm going to take this one as well since it will be useful to upgrade TOB and Permitify together. I'll also be using Permitify for end-to-end testing so it will be needed anyways.

[2018-05-23 19:50] nrempel opened #94 "upgrade von-agent to 1.1.1"
Upgrade von-network, the-org-book, permitify to use von-agent 1.1.1

[2018-05-23 19:59] nrempel opened #95 "Define and create V2 search API"

[2018-05-24 21:14] #91 closed

[2018-05-24 21:14] #84 closed

[2018-06-06 16:53] nrempel opened #97 "Add request validation to all indy endpoints"

[2018-06-06 16:54] #97 closed

[2018-06-06 16:58] nrempel opened #98 "Debug bootup performance issues"

[2018-06-06 20:05] #94 closed

[2018-06-06 20:05] #98 closed

[2018-07-05 16:22] nrempel opened #99 "Port Permitify to von-x implementation. Sunset old permitify."
Stephen, just assigning you for visibility. Feel free to remove.

[2018-08-14 22:38] #95 closed

[2018-09-17 13:46] mehmetaydar opened #105 "indy.error.IndyError: ErrorCode.CommonInvalidState"
I am following the quick start guide (https://github.com/bcgov/TheOrgBook/blob/master/docker/README.md#running-a-complete-provisional-von-network). I am receiving the following error (indy.error.IndyError: ErrorCode.CommonInvalidState) while starting the permitify. Below is the output:

WARNING: The RUST_BACKTRACE variable is not set. Defaulting to a blank string.
permitify_redis_1 is up-to-date
C

[2018-09-17 18:49] nrempel commented on #105
Hi @mehmetaydar,

We recently made some significant changes to permitify.

Can you please ensure that you are running the very latest code from the `master` branch of https://github.com/bcgov/von-network, https://github.com/bcgov/TheOrgBook, and https://github.com/bcgov/permitify?

Once you have the latest code, run `./manage rm` on all 3 of the environment to clean their state.

Once you've done

[2018-09-21 03:29] swcurran commented on #105
FYI - on the permitify instructions - there are two scripts "manage" and "manage.sh".  Use the one "manage.sh" for now - it's the right one.  We'll fix that shortly.

[2018-09-21 12:16] mehmetaydar commented on #105
I checkout the latest versions from master branch for TheOrgBook, von-network, and permitify. I am receiving the following error while building permitify:

any idea?

[2018-09-21 13:20] mehmetaydar commented on #105
I checkout the latest versions from master branch for TheOrgBook, von-network, and permitify. I was able to build them. The von-network (http://localhost:9000/ ) and TheOrgBook (http://10.206.61.105:8080) successfuly loads. However there is a confusion on how to start the permitify. @swcurran mentioned that we should use manage.sh under permitify/docker. I used manage.sh to build permitify. Howeve

[2018-09-21 15:11] swcurran commented on #105
@mehmetaydar - try localhost:5000/demo - That should work.  There is no longer need to specify the seeds, so that's dropped from the script.  Sorry I forgot to mention that in the note earlier. Again - the caddyfile can be updated to address that issue, to that just localhost:5000 works.

[2018-09-21 16:04] swcurran opened #106 "Link to TOB not working after creating a credential"
Link to TOB opens TOB but not on the expected credential.  Andrew provided how to fix.

[2018-09-21 16:09] swcurran opened #108 "Autocomplete searching/Counts are not working as part of the permitify demo"
When running the local permitify demo, TOB is working and we can add credentials and entities to TOB. However, once added, the counts are not updated and the autocomplete does not work.  Solr related?

Please update the deployment(?) in docker so that works.

[2018-09-21 16:27] swcurran opened #109 "Recipe is not coming up - js error"
We're getting a JS error on the demo page for the recipe.  This is because of a fix done in TOB for paging that has broken permitify.  @cywolf knows what the error is and is fixing.

[code]

[2018-09-21 18:51] swcurran commented on #109
Working. Nice!

[2018-09-21 18:51] #109 closed

[2018-09-24 10:47] mehmetaydar commented on #105
@swcurran  localhost:5000/demo does not work. I am still getting

and

Is it possible that you can provide an updated instructions of the "Quick Start Guide?" I might be missing something. thanks.

[2018-09-24 13:30] swcurran commented on #105
/demo is still needed to get to the screens. Try that. And yes, I'll get
the getting started guide updated - hopefully today.

On Mon, Sep 24, 2018, 3:47 AM MEHMET AYDAR, <notifications@github.com>
wrote:

[2018-09-24 13:58] mehmetaydar commented on #105
I have installed them on a server (Ubuntu based virtual machine, no graphical interface). I am accessing it from my windows machine using Chrome. So I don't use localhost:5000/demo. I use http://server-ip:5000/demo. Could that be a problem? The von-network (http://server-ip:9000) and TheOrgBook (http://server-ip:8080) work and they display a screen. However permitify (http://server-ip:5000/demo) d

[2018-09-24 14:09] swcurran commented on #105
I run it on a Ubuntu server as well and that does work for me, so it's
odd.I ssh into the server as well, using port-forwarding and that works.
Also that when you didn't use the /demo part you got a 404 (Not Found) back
from the server.  I'm on my way to work, so will check when I get there.

On Mon, Sep 24, 2018 at 6:58 AM MEHMET AYDAR <notifications@github.com>
wrote:

[2018-09-24 14:35] mehmetaydar commented on #105
@swcurran On the Ubuntu server if I run:  `wget http://server-ip:5000` I get  the error: "ERROR 404: Not Found." However, if I run `wget http://localhost:5000` it downloads the page fine and the content of the page says that "If you see this page, Caddy container works." `wget http://localhost:5000/demo` also resolves to another page. So I am starting to think this is either a port forwarding or a

[2018-09-24 14:52] swcurran commented on #105
I think you are right. The 404 vs. the Caddy message suggests that you are
hitting two different web servers.  Very strange.  :-).

FYI - just started it all up again from scratch and all good.  I'm
portforwarding 9000, 8080 and 5000 for the session.

On Mon, Sep 24, 2018 at 7:36 AM MEHMET AYDAR <notifications@github.com>
wrote:

[2018-09-25 06:08] mehmetaydar commented on #105
Made it work. I had to explicitly set the `APPLICATION_URL` and `WEB_HOST_NAME` to point to `DOCKERHOST` instead of `localhost` in `permitify/docker/manage` file at the end of the `configureEnvironment` function as below:

` export APPLICATION_URL=${APPLICATION_URL-http://$DOCKERHOST:${WEB_HTTP_PORT:-5000}}`

  `export WEB_HOST_NAME=${DOCKERHOST}`

` echo -e "DOCKERHOST: $DOCKERHOST"`

  `echo -e

[2018-09-25 07:33] mehmetaydar commented on #105
I am able to get to http://server-ip:5000/bcreg/incorporation. When I enter the information and click on the Submit button, it looks like to be working as I get the following output from the logs:

bcreg-agent_1             | 2018-09-25 07:27:47,350 INFO [von_anchor.anchor.base]: _BaseAnchor.get_cred_def: got cred def for 6qnvgJtqwK44D8LFYnV5Yf:3:CL:44:tag from cache
bcreg-agent_1             | 20

[2018-09-26 09:10] mehmetaydar commented on #105
@swcurran thanks for your inputs. I am able to run the demo, and able to get back to the list of credentials screen. However, I had to set `TOB_APP_URL` and `THE_ORG_BOOK_APP_URL` environment variables in `permitify/docker/manage` file at the end of the `configureEnvironment `function as below:
  `export THE_ORG_BOOK_APP_URL=${TOB_APP_URL}`
  `export WEB_HOST_NAME=${DOCKERHOST}`

The problem I fac

[2018-09-26 13:59] mehmetaydar commented on #105
In `TheOrgBook/docker/manage` file I have set the following:

`     ---#export SOLR_SERVICE_NAME="tob-solr"
`  export SOLR_SERVICE_NAME=${DOCKERHOST}`
 ` export SOLR_CORE_NAME=${CORE_NAME}`
  `export SOLR_URL=${http://$SOLR_SERVICE_NAME:8983/solr/$SOLR_CORE_NAME}`

Now I am getting the following error while trying to start TheOrgBook:

Creating tob_tob-solr_1  ... done
Creating tob_wallet-db_1 ...

[2018-09-27 06:36] mehmetaydar commented on #105
It works now. In my case, I had to set the following:
  `export SOLR_SERVICE_NAME=${DOCKERHOST}`
  `export SOLR_CORE_NAME=${CORE_NAME}`
  `export SOLR_URL=${SOLR_URL-http://$SOLR_SERVICE_NAME:8983/solr/$SOLR_CORE_NAME}`
in `TheOrgBook/docker/manage`. I also had to set
      `- NO_PROXY=${SOLR_SERVICE_NAME}`
      `- no_proxy=${SOLR_SERVICE_NAME}`
      `- SOLR_URL=${SOLR_URL}`
in `TheOrgBook/docke

[2018-09-27 11:41] swcurran commented on #105
Awesome.  Sorry I've been offline.  I'm at an identity conference.  We'll
push on this as soon as possible after I'm back.

On Thu, Sep 27, 2018 at 2:36 AM MEHMET AYDAR <notifications@github.com>
wrote:

[2018-10-01 21:11] swcurran opened #112 "Update router so that localhost:5000 goes to the start demo page"
Permitify currently shows the caddy "You are here!" page when you hit http://localhost:5000.  Please update the caddy config to have that URL redirect to the start of the demo - same as http://localhost:5000/demo.

[2018-10-02 18:01] nrempel opened #115 "Fix business details not showing on Permitify in progress demo page"
Looks like response format from the org book may have changed.

[2018-10-02 20:52] nrempel commented on #105
Glad you got it working @mehmetaydar

I can't seem to reproduce this issue. I believe it is due to your network conditions.

I will close this issue for now but feel free to open a new one if you run into any issues.

[2018-10-02 20:52] #105 closed

[2018-10-07 15:43] DanielaNye opened #117 "Error 306"
================================================================================
person_1           |   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
person_1           |                                  Dload  Upload   Total   Spent    Left  Speed
100   173  100   130  100    43     34     11  0:00:03  0:00:03 --:--:--    34{"seed":"bc_registries_000000000000000000

[2018-10-07 16:33] swcurran commented on #117
It's hard to tell from just the error message what the problem.  Could you describe what part of the process you are doing when you encounter the error?  Thanks.

[2018-10-08 13:53] DanielaNye commented on #117
I'm sorry i forgot to mention it, it appears when running ./manage start.

[2018-10-08 19:01] cywolf commented on #117
It's this error, essentially: https://github.com/hyperledger/indy-sdk/blob/9e32bf35ba8d053ec53562511da60899013a2541/doc/how-tos/rotate-key/python/README.md#common-errors

It looks like it goes on to open the wallet though, so maybe just a warning?

[2018-10-10 14:28] #106 closed

[2018-10-10 16:33] swcurran commented on #117
@DanielaNye - there is not enough information to help further than what was provided in the previous comment.  If you can provide more information, that might help, but closing for now.

[2018-10-10 16:33] #117 closed

[2018-10-12 18:29] #99 closed

[2018-10-12 18:29] #112 closed

[2018-10-15 21:51] swcurran opened #118 "Permitify 1.5 Epic - Deploy the current docker version of Permitify on OpenShift Dev and Test"
Take the current docker version of Permitify and upgrade it to run on OpenShift Dev and then once it is operational, upgrade Test.  In doing that:

1. Make sure that either Dev or Test is ALWAYS available, and notify the team as the primary demo site is changed.
2. As appropriate, update the pre-loaded organization data to credential process to match the new credentials.
3. As appropriate, update

[2018-10-17 18:16] swcurran opened #119 "Workshop for implementing Permitify Services"
Create a workshop suitable for completion in three hours about Permitify that involves deploying TheOrgBook, some Permitify services and a recipe, and then generate a new service that integrates with the existing model.

[2018-10-17 18:24] swcurran opened #120 "Investigate platforms for running a permitify-based demo"
Investigate how best to run a Permitify-based demo in a workshop environment.  Ideally, the platform would be browser-based so we would not have to pre-announce prerequisites for the workshop (like git, docker, etc).  Investigate: learn.openshift.com and the platform provider that it use - katacoda.

In selecting a platform, define what we will have to put in place to run on the platform (e.g. she

[2018-10-17 19:07] swcurran opened #121 "Define the Service specific elements of Permitify and define how to generate those elements"
We'd like to create a tool (such as [yeoman](http://yeoman.io/generators/) ) that will enable generation of a new Permitify-enabled service.  Review Permitify and determine the steps for generating a new Permitify Service and the elements that one would manually tune for the specifics of the service. For example - defining the:

- Proof Requests for verification
- the credentials for issuance
- th

[2018-10-17 19:27] swcurran opened #122 "Create the (at least) static recipe page for Permitify"
Recreate the static page of the old Permitify recipe.  Change the UI for the page so that the recipe image contains the status of the Credential (needed, obtained - by text and colour) and the link to get or see (respectively) the Credential.

On the current "Start Demo" page, provide a (static initially) list of recipes, each of which link to a recipe.  The first can be "City of Surrey - business

[2018-10-17 19:35] swcurran opened #123 "Implement a permitify service endpoint to enable the creation of dynamic recipes"
Create a permitify endpoint that requests the prerequisite credential definitions for a given credential issued by the Service.  Something like:

[code]

The endpoint would be called recursively from a goal credential to create a Permitify recipe.

Use that endpoint to dynamically generate a recipe page, including constructing a proof request that is passed to your wallet to determine which of the

[2018-10-29 16:59] esune commented on #118
Opened PR: https://github.com/bcgov/permitify/pull/124

[2018-10-29 21:56] WadeBarnes opened #125 "Update deployment configurations to align with the combined wallet approach"
The latest bcgovimages/von-image set (`-9` series) use a single wallet for all roles if more than one is being used.  Update deployment configurations to align with this new approach.  One one, key, seed, and did are needed for the wallet credentials.

Refs:
- https://github.com/bcgov/von/issues/106
- https://github.com/bcgov/TheOrgBook/pull/638

[2018-10-29 22:51] nrempel opened #126 "Update permitify schema and mapping to ensure TheOrgBook is being populated fully for the demo"
TheOrgBook is populated from credentials using a mapping definition. Incoming credentials in TheOrgBook are parsed and the application database in TheOrgBook is updated.

The "foundational" credential is a credential is one that creates a "topic" in TheOrgBook. It also generates an organization page. Currently, the permitify uses a schema with a minimal set of attributes. It works, but some of the

[2018-10-30 15:03] WadeBarnes commented on #118
Updates have been reviewed and tested in DEV, PR merged.

[2018-10-30 15:26] WadeBarnes opened #127 "Migrate the `devex-von-permitify-test` environment to the updated BCovrin TEST ledger"
New ledger address:

http://138.197.138.255/

[2018-10-30 15:27] WadeBarnes commented on #127
@esune, You can do this at the same time you update the configuration for TOB/Permitify.

[2018-10-30 22:01] esune commented on #118
The new issue #126 will need to be tackled first, in order for TEST to be updated to the latest version and re-populated.

[2018-11-01 20:10] swcurran commented on #123
@nrempel  - is this for you?  Reassign as appropriate.  I assume this is active work so have put in Sprint Backlog.

[2018-11-01 22:05] nrempel commented on #123
Yep, this looks to be pretty much what I'm working 👍🏼

[2018-11-02 00:28] esune commented on #125
This is resolved by #128

[2018-11-02 00:28] esune commented on #126
This is resolved by #128

[2018-11-05 17:30] WadeBarnes opened #129 "Delete the old BCovrin `test` Ledger from Digital Ocean once the Permitify `test` environment has been upgraded"
Once the Permitify `test` environment has been migrated to the new BCovrin `test` Ledger (http://138.197.138.255/), delete the old BCovrin `test` Ledger (http://159.89.125.134/) and its associated proxies.

[2018-11-05 21:45] swcurran opened #130 "Move testdata from TOB to permitify"
Move the generated test data from TOB into permitify and under the control of permitify.

[2018-11-06 18:51] nrempel opened #132 "Investigate and fix data load script"

[2018-11-06 20:10] esune commented on #126
Fixed by #133

[2018-11-06 22:00] esune opened #134 "Angularize Permitify"
As we add new functionality to Permitify, it becomes more difficult to maintain a simple application composed of static assets (JS/HTML/CSS).

We should upgrade Permitify and and create a single-page app: this would make it easier to maintain, and add new functionality in the form of modules that can be reused.

[2018-11-07 19:45] #126 closed

[2018-11-08 01:50] #118 closed

[2018-11-08 01:50] #132 closed

[2018-11-08 01:50] #130 closed

[2018-11-13 22:41] swcurran commented on #120
Resolved.  Here is the approach we will use:

* von-network will be using a Digital Ocean node set (likely: http://159.89.115.24/)
* TOB will be running in OpenShift - either permitify dev or test (or even prod, I guess)
* A set of companies will be pre-loaded into the environments

Users will use Play With Docker (https://labs.play-with-docker.com/) to get a copy of the von-ivy repo and use whate

[2018-11-13 23:07] WadeBarnes commented on #120
Regarding the TOB Demo environments connected/connecting to Permitify.  Depending on timing you'll want to use `dev` (`devex-von-dev` to be specific), `test` (`devex-von-test`) is currently not compatible (it needs to be upgraded), and there is no (never has been a) TOB instance deployed to `prod` (`devex-von-prod`).

You'll want to use the matching BCovrin Ledger for the environment, for consiste

[2018-11-14 19:03] swcurran commented on #120
Wade - yes - we'll have to pick an environment for running the workshop. The reason I mention "prod" (or really, some arbitrary new environment) is that this is a new use that is different from "dev" (prep environment for "test") and "test" (the permitify dFlow and TheOrgBook Demo site). The Workshop will pollute test with extra Issuers (VON-IVy instances) and so would require a reset after runnin

[2018-11-15 21:32] WadeBarnes opened #136 "Migrate Jenkins pipeline scripts over to using the OpenShift Client Jenkins Plugin"
Migrate Jenkins pipeline scripts over to using the OpenShift Client Jenkins Plugin
- https://github.com/openshift/jenkins-client-plugin

Much, if not all, of the OpenShift Pipeline Plugin will not be supported against OpenShift API Servers later than v3.11.

Reference:
- Pipeline scripts in TheOrgBook

[2018-11-16 17:49] WadeBarnes opened #138 "Update to `bcgovimages/von-image:1.6-ew-11*` images"
Update to `bcgovimages/von-image:1.6-ew-11*` images to pick up `von_anchor v1.6.37`.

A necessary 256-bit compliant encoder has been added to von_anchor, affecting credentials.  Unfortunately it is not backwardly compatible with older credentials so they will need to be reloaded.

Environments to update:
- [x] devex-von-permitify-dev
- [x] devex-von-permitify-test

[2018-11-16 20:01] WadeBarnes commented on #138
Over to @esune to finish up the deployments.

[2018-11-22 09:25] #120 closed, assigned to ianco

[2018-11-22 09:31] swcurran commented on #121
@ianco - I think you are mostly done this in the template documentation?  Or do we still need to add this to do the documentation?

[2018-11-27 23:17] esune commented on #134
This will be resolved by #140

[2018-11-27 23:26] esune opened #141 "dFlow: make path selection generic"
The current instance of dFlow (previously known as permitify) uses a hard-coded dependency structure to define the graph for the restaurant recipe.

We want to be able to pick one of the schemas currently published to the ledger, and generate the dependency structure dynamically, so that the graph and the steps to complete will change accordingly.

[2018-11-30 14:45] #141 closed

[2018-11-30 17:31] #122 closed

[2018-11-30 23:31] WadeBarnes opened #148 "Update to `bcgovimages/von-image:1.6-ew-13*` images"
- Adds support for credential dependency look-up.
- Includes updated versions of von_anchor and von-x

Environments to update:
- [x] devex-von-permitify-dev
- [x] devex-von-permitify-test

[2018-11-30 23:54] WadeBarnes commented on #148
Over to @esune, to update the `test` environment.

[2018-12-04 21:54] esune opened #151 "Add search functionality to start page"
As a user, I want to be able to pick-up where I left once I start going through dFlow.

It is currently possible to enter a topic ID, but this mechanism is not easy to use.

A search functionality similar to the one in ToB is necessary to make this process more user-friendly and easy to use.

[2018-12-05 16:08] WadeBarnes opened #152 "Update domain names"
The `*.orgbook.gov.bc.ca` DNS records have been created.  Update the domain names in the configurations.

Permitify/dflow:
- dev-dflow.orgbook.gov.bc.ca
- dflow.orgbook.gov.bc.ca

The OrgBook Demo:
- dev-demo.orgbook.gov.bc.ca
- dev-demo-api.orgbook.gov.bc.ca

- demo.orgbook.gov.bc.ca
- demo-api.orgbook.gov.bc.ca

[2018-12-07 16:20] WadeBarnes opened #156 "`Casting error to ErrorCode: Wallet not found: Storage not found` - on agent start-up"
This issue is most prevalent in dFlow due to the number of agents contained in the project, however the cause was identified during a debugging session with Ontario's `onbis-x-agent` were multiple instances were being spun up to perform an initial data load.

The issue occurs when there are a number of agents spinning up at the same time and connecting to the same wallet. The number of connections

[2018-12-07 22:55] esune commented on #138
The last environment was successfully updated.

[2018-12-07 22:55] #138 closed

[2018-12-07 22:55] esune commented on #151
This was resolved by #155

[2018-12-07 22:55] #151 closed

[2018-12-07 22:56] esune commented on #148
The last environment was successfully updated.

[2018-12-07 22:56] #148 closed

[2018-12-07 23:00] #134 closed

[2018-12-07 23:07] esune opened #157 "Add webhook for new pipeline"
The is a new pipeline named "agent-pipeline" in `devex-von-permitify-tools`, that takes care of building the base image used by all of the issuers in dFlow.

There doesn't seem to be a Github webhook configured to trigger it when changed are merged to the `master` branch in the repo, so we need to configure one.

[2018-12-10 03:41] esune opened #158 "USe credential-specific URLs for each step"
dFlow i currently using the "general" issuer URL to wire up the action button to "enroll" with a specific issuer. It should instead use the credential-specific URL exposed by the `credentialtype` ToB API endpoint.

[2018-12-10 17:12] WadeBarnes commented on #129
The last of our environments using the older (Indy Node v1.2.297) BCovrin Ledger (http://159.89.125.134/) with the remapped ports has been migrated to the newer (Indy Node v1.6.636) BCovrin Ledger (http://138.197.138.255/) using standard ports.  The old ledger instance and related proxies have been deleted.

[2018-12-10 17:13] #129 closed

[2018-12-13 16:16] esune commented on #157
Works as expected

[2018-12-13 16:16] #157 closed

[2018-12-13 19:20] WadeBarnes commented on #152
Routes migrated and certificates installed.

[2018-12-17 18:44] esune opened #171 "dFlow refactoring"
After using the initial prototype of dFlow, some refactoring effort is required to address some of the "sharp edges" that were left on the product. This is a list of items that require checking, it is not complete and will be updated with new items. It will require breaking down and estimating work once ready to tackle it.

##### General
* Theming support: is it required?
* i18n: is it required?
*

[2018-12-17 18:47] esune opened #172 "Development mode for dFlow in Docker"
The containerized version of dFlow does currently not support hot-reloading of the Angular app. This means that every time a change is made to the frontend, at least the whole Caddy/proxy container needs to be destroyed, build and restarted.

This is a tedious process and reduces the time and productivity when developing the frontend. Adding hot-reloading capabilities would be a big improvement fo

[2018-12-17 18:56] esune opened #173 "Performance/Load Testing Investigation"
This is a placeholder for performance/load testing for dFlow and supporting environments (toB, Ledger).

We have noticed that the system tends to respond slowly to requests that involve querying data coming from the ledger and the agents. We need a way of testing performance, determining possible bottlenecks and addressing the root cause to increase usability.

Example: the call to the `/get-crede

[2018-12-17 21:20] #158 closed

[2018-12-17 21:20] #152 closed

[2018-12-20 22:55] swcurran opened #175 "Update von-agent-template and the workshop with a realistic business use case"
With the first cut of the workshop successfully implemented and delivered (whoohoo!!), I'd like to take a cut at making it more of a realistic business case - a story.  The workshop will be aimed both at other workshops, people running it independently and organizations onboarding, so that they understand the flow.

The following are the basic steps of the workshop. I'll revise this as I work thro

[2019-01-04 18:01] esune commented on #171
First round of refactoring complete. Further refinements will be implemented iteratively as they arise.

[2019-01-04 18:36] esune opened #182 "Renaming repository to dFlow"
As previously discussed, we need to rename the `permitify` repository` using its new nomenclature `dflow`.

The tasks include:
- renaming the github repository
- update the repository references in the OpenShift builds and pipelines
- ensuring the webhooks used by the OpenShift pipelines in `devex-von-permitify-tools` still work
- determine whether additional action items are required for retro-co

[2019-01-06 23:13] swcurran opened #184 "Add the "Dog and Cat Breeder Licence" Agent to dFlow"
The configuration for the "Dog and Cat Breeder Licence" can be found in the temporary github repo - https://github.com/swcurran/DogAndCatBreeders.  Please extract the VON-X Agent .yml files from there, add them to dFlow and a the Dog and Cat Breeders license to the set of dFlow agents.

In doing that, please document how to add new Agents to dFlow, so we can make this a simple process. Include doc

[2019-01-06 23:21] swcurran opened #185 "Review and clean up the dFlow configurations for the different agents"
Review the dFlow configs in Permitify to clean them up. Things to look at:

- one of the configs (I think Worksafe) has a file that is the PST one unchanged
- The dependencies for credentials seem to be over-specified. Only immediate dependencies are needed - not necessarily the full chain.

[2019-01-08 18:22] esune commented on #184
Resolved by #186

[2019-01-16 15:31] #156 closed

[2019-01-16 15:31] #119 closed

[2019-01-16 15:33] #108 closed

[2019-01-16 18:14] esune opened #200 "Support paginated API calls"
Most of the APIs exposed by the ToB backend use pagination to limit the volume of data that is sent back to the frontend. However, there are scenarios where we want to acquire ALL of the data and therefore it is necessary to implement pagination-aware data requests.

[2019-01-16 18:15] esune commented on #200
PR #199 adds pagination support to the main page retrieving issuers/schemas. More work is being completed to create a generic page-aware service.

[2019-01-16 18:17] esune opened #201 "Investigate timeouts lag in graph rendering"
When rendering a dFlow, a significant amount of time is consumed by the request that obtains the graph topology. Investigate the root cause, and determine an appropriate solution.

[2019-01-16 18:19] esune commented on #201
Additional logging added to `von-x` showed that every time there is an "agent hop" (one agent hands off the request to another agent, in order to determine dependencies recursively) there is a significant "pause". The code does not seem to be blocking in any way, so we may need to look at causes in the infrastructure.

[2019-01-21 13:00] kagile opened #205 "./manage build not working"
Getting this error after `./manage build`

`Invalid interpolation format for "environment" option in service "agri-agent": "${TOB_API_URL:-}"`

Sry, I'm a beginner. Am I missing something?

[2019-01-21 13:47] kagile commented on #205
https://github.com/docker/compose/issues/2507 Solved the issue.

[2019-01-21 13:47] #205 closed

[2019-01-21 15:45] swcurran commented on #205
@kagile - how did you solve the issue?  Anything we should change in the code or documentation?

Thanks

[2019-01-22 05:49] kagile commented on #205
@swcurran As pointed out in comment, $ is  a special character, and needs to be escaped. You may need to update below script:
https://github.com/bcgov/dFlow/blob/042a87bb30ebd2014395f2f36f11ccedd2c2ea15/docker/manage#L110

[2019-01-22 23:03] esune commented on #201
Added more logging to `von-x`, it confirmed that when a delay happens it is between posting the request to another agent and when the target agent starts processing it.

I reconstructed two scenarios involving three agents, with very different response times: one took 11s to complete, the other 80ms (see attachments).

[2019-01-22 23:03] esune commented on #201
[Caddy - Scenario1.log](https://github.com/bcgov/dFlow/files/2784949/Caddy.-.Scenario1.log)
[Scenario1 - 11s.log](https://github.com/bcgov/dFlow/files/2784947/Scenario1.-.11s.log)

[Caddy - Scenario2.log](https://github.com/bcgov/dFlow/files/2784948/Caddy.-.Scenario2.log)
[Scenario2 - 80ms.log](https://github.com/bcgov/dFlow/files/2784950/Scenario2.-.80ms.log)

[2019-01-28 08:30] kpratihast opened #206 "SSL error while building bcgov-s2i-caddy-image"
I get the below SSL error while doing ```./manage build``` . System config is Ubuntu 16.04, Docker 18.09.1, docker-compose 1.23
[code]

[2019-01-28 16:18] WadeBarnes commented on #206
@kpratihast, That appears to be a temporary issue out of our control.  Please try again.  If the problem persists please run the following and post the logs;

` docker build --no-cache -t 'bcgov-s2i-caddy' 'https://github.com/BCDevOps/s2i-caddy.git'`

[2019-01-29 06:20] kpratihast commented on #206
Please refer to the

Please refer to the logs below
[code]

[2019-01-29 15:36] WadeBarnes commented on #206
@kpratihast, on the machine on which you are running the build, are you able to `curl -v -L "https://github.com/mholt/caddy/releases/download/v0.10.10/caddy_v0.10.10_linux_amd64.tar.gz" -o caddy_v0.10.10_linux_amd64.tar.gz` without error?  If not could you please supply the log.

[2019-01-29 16:04] WadeBarnes commented on #206
The problem seems to be a generic certificate trust issue.  If you get the same error running the `curl` I supplied above, try updating the OpenSSL install on the build machine.  Another option would be to update the CA certificate bundle on the build machine using https://curl.haxx.se/ca/cacert.pem.

[2019-01-30 15:37] WadeBarnes commented on #182
No issues reported about the rename.

[2019-01-30 15:37] #182 closed

[2019-01-30 16:24] #200 closed

[2019-01-30 17:24] esune commented on #201
DNS resolution trace for scenario 1:
[code]

[2019-01-30 19:04] #175 closed

[2019-01-30 19:04] #185 closed

[2019-01-31 16:15] WadeBarnes commented on #206
@kpratihast, Did either of the above recommendations fix your issue?  If so please indicate which one (and close the ticket), so we have a resolution for the next person.

[2019-01-31 16:21] kpratihast commented on #206
I tried above steps though it was still giving me some or the other error. I have repeated the same installation steps in an AWS EC2 instance rather than on my local vagrant set-up and it worked without any issues. May be something to do with my local vagrant machine. Closing the issue. Thank you for helping me out here @WadeBarnes

[2019-01-31 16:21] #206 closed

[2019-02-12 02:31] esune commented on #173
Done as part of dFlow #201

[2019-02-12 19:14] esune opened #211 "Tweak build configuration resource limits"
The build configurations for dFlow are currently set to use a "best effort" strategy.
We need to tweak them so that only the resources that are actually needed are requested/used.

Tweak the configurations and apply the changes to the build configuration templates.

[2019-02-13 19:49] #173 closed

[2019-02-13 19:49] #201 closed

[2019-02-13 19:49] #211 closed

[2019-03-04 22:31] swcurran opened #215 "Update the UI to match this model"
Please use the screenshots here to update the dFlow pages.

https://docs.google.com/document/d/177-T858cIny58Fctt5l3DYC_RnDWSuYnnDZXbQ7kkaM/edit?usp=sharing

The updates include:

1. Adding help text on the pages.
2. Adjusting the colours and the layout of the graph - minimally.  The key changes:
     1. Putting the title and the action buttons in separate blocks in the header
     1. Centering th

[2019-03-04 23:00] carolhoward commented on #215
![greenlight logo](https://user-images.githubusercontent.com/17622005/53768608-2fd0c500-3e8e-11e9-888e-6ec5667ca27c.png)

[2019-03-04 23:01] carolhoward commented on #215
Proposed new yellow: #e3a82b

[2019-03-04 23:09] carolhoward commented on #215
green = 6aa84fff
red = ff0000ff

[2019-03-04 23:12] esune commented on #215
Thanks for the image and color codes @carolhoward! :)

[2019-03-07 00:07] esune opened #217 "Add resource limits to deployments"
The new OpenShift policies limit the number of pods using a best-effort resource management policy.
Find reasonable resource limits for the deployments, and apply the changes to the templates as well.

[2019-03-07 20:32] WadeBarnes commented on #217
The deployment environments have been updated; `devex-von-permitify-dev` and `devex-von-permitify-test`.

[2019-03-07 20:33] #217 closed

[2019-03-10 18:41] Eirikur opened #222 "Dupe of issue 205, but I could not follow how to fix it. Invalid interpolation format for "environment" option in service "agri-agent""
I'm a developer, but new to this, and I've failed to figure this out.
This is what I see when I cd to the docker directory and build.
./manage build

Building agent and wallet containers ...
docker-compose --verbose build agent-wallet-db agri-agent bcreg-agent ministry-finance-agent city-surrey-agent fraser-valley-agent liquor-control-agent worksafe-agent
compose.config.config.find: Using configur

[2019-03-10 18:43] Eirikur commented on #222
I could not find the trailing $ that is mentioned in the fix that closed 205, but I have the problem.

[2019-03-10 18:54] swcurran commented on #222
Odd.  I never did figure out what the fix was for 205 - I did not find a trailing space either.  What OS are you running this on?  We'll see if we can figure it out.  We tend to use Windows, Ubuntu 18.04 and Mac and haven't seen this.  @esune - please see what you can dig up.

[2019-03-10 19:21] Eirikur commented on #222
I'm on Linux Mint 19.1, which is based on Ubuntu 18.04.2 they say. This makes it odd that I'm seeing it and you aren't.

[2019-03-11 03:26] esune commented on #222
I'll fire up a Linux box and see what I can find out. It definitely is odd that it would only show up on Linux and not in Git bash...

[2019-03-11 03:52] swcurran commented on #222
Could it be the ":-" option - is that used elsewhere?  It's weird that it's docker-compose that seems to have a problem with something.  Should be the same on all platforms.

Perhaps there is an environment variable from the system being referenced that has a trailing "$"?

[2019-03-11 14:45] WadeBarnes commented on #222
@Eirikur, Here are a couple of things to try:
- Remove the `:-` from the environment variables where no default option is specified.  For example `${TOB_API_URL:-}`.  I believe some flavors of Linux don't like it.
- The file, at least on my Windows box, has `CrLf` line endings.  You may want to try converting then all to `Lf` line endings.

[2019-03-11 16:08] Eirikur commented on #222
Thanks Wade! That totally did it.  If you'd like a PR, I can do that tonight.

[2019-03-11 16:26] WadeBarnes commented on #222
@Eirikur, You're welcome.  Please submit a PR and reference this issue.  You did the work, you should get the recognition.  Thanks!

[2019-03-11 20:58] #222 closed

[2019-03-14 14:53] swcurran opened #224 "Use greenlight instead of dflow in the URLs of the apps"
Please update the config of dflow to use "greenlight" in the various instances (e.g. greenlight.orgbook.gov.bc.ca) .  The urls are live.  Wade has added the routes to OpenShift already.

[2019-03-14 17:37] esune opened #225 "Remove agent persistent storage"
We don't need the persistent storage in the agents since we are using the postgresql plugin, we can delete the persistent storage claims and free up some space.

- remove persistent storage claims in OpenShift
- remove persistent storage from templates
- update OpenShift `manage` script and remove step to delete wallets on persistent storage

[2019-03-14 17:38] esune commented on #224
I chatted with @WadeBarnes and we decided to recap the steps that are required after a domain name change.

Preliminary steps:
- new DNS entries are created for the new `dev` and `test` base URLs.
- new routes matching the new DNS entries are created in OpenShift, using the appropriate CA certificates, for the web application service.

Agent updates:
- each agent needs to be updated to reflect the

[2019-03-14 18:03] esune commented on #224
`dev` and `test` environments have been updated to use the new URLs

[2019-03-14 18:32] WadeBarnes commented on #225
Reviewed and merged configuration template changes.

@esune, you'll also want to remove the unused parameters from teh `*.param` files.

[2019-03-14 18:38] WadeBarnes commented on #225
Reviewed OpenShift environments and confirmed the PVCs have been released.

[2019-03-15 16:20] WadeBarnes commented on #225
`*.param` files were updated in https://github.com/bcgov/dFlow/pull/227

[2019-03-15 16:20] #225 closed

[2019-03-18 16:54] swcurran opened #228 ""about" page gets 404 when called directly"
The about page displays when I click "how to" in the header, but if I go directly to its path I get a 404.

[2019-03-18 17:30] esune commented on #228
@swcurran the fix has been applied to both `dev` and `test`.

[2019-03-20 15:54] #215 closed

[2019-03-20 15:55] #228 closed

[2019-03-20 17:47] #224 closed

[2019-03-29 23:25] swcurran opened #231 "Please change the name of the repo to greenlight"
@WadeBarnes - please change the repo name to greenlight and let us know when it is done. I'll make the updates to the various docs once that's done.  I assume you will also have to update various OpenShift scripts to make this happen - or at least make the changes soon after.

Thanks

[2019-04-01 14:31] WadeBarnes commented on #231
Rename complete

[2019-05-03 15:51] swcurran opened #234 "Address security alerts in package.json"
Bootstrap and tar.  See: https://github.com/bcgov/greenlight/network/alerts

[2019-05-06 21:44] swcurran commented on #231
@WadeBarnes - back to you to deploy greenlight on OpenShift.  I ran a local test with docker-compose and it worked fine, but you need to verify it deploys on OpenShift as appropriate. Once done, please assign to Emilliano to load data.

@esune - this ticket will go to you after the deployment to load the test data into the OpenShift deployments.  I renamed the test data load folders and files, as

[2019-05-08 00:27] esune commented on #231
@swcurran: @WadeBarnes and I agreed I'll get the new deployments going as well, so I can do everything at once.

[2019-05-08 16:18] esune commented on #234
@swcurran can you please check whether the updates I made to GreenLight on Monday have addressed the security alerts and let me know?

[2019-05-09 16:54] swcurran commented on #234
@esune as of now, the security alert is still displayed for tar.  I made you an admin on the repo, so you should be able to see it.  Link above is still showing the issue.

[2019-05-13 18:29] esune commented on #231
The environments have been refreshed and test was reloaded. All the URLs referencing `dflow` have been removed as now `greenlight` is the official name.

@jljordan42, @swcurran: the DNS entries pointing to `http://dev-dflow.orgbook.gov.bc.ca` and `http://dflow.orgbook.gov.bc.ca` can now be removed.

[2019-05-15 23:23] kenhuang opened #239 "Signature validation error on agent node"
Any reason we getting the following error from bc-registries pod when try to point to our own INDY_LEDGER_URL, using the default http://dev.dflow.bcovrin.vonx.io is working fine.

Our hosted indy-node version: 1.6.862
dev.dflow.bcovrin.vonx.io  indy-node version: 1.6.636

I'm using the master branch of von-network to start the network.

[code]

Webserver log from our hosted von-network:
[code]

[2019-05-15 23:42] ianco commented on #239
You need to make sure you reset the whole environment when you switch ledgers.  For example, when you create a credential definition there is crypto that is put in the wallet that has to match what is on the ledger.  So if you initialize everything on one ledger, then switch to another with the same wallet, the crypto info in your wallet associated with your credential definitions won't match, and

[2019-05-16 04:34] kenhuang commented on #239
Thanks for the suggestion, after reset theorgbook deployment with the correct INDY_LEDGER_URL everything work together now.

[2019-05-16 04:34] #239 closed

[2019-05-25 23:09] #234 closed

[2019-05-25 23:11] #231 closed

[2019-05-28 06:20] regovtech opened #240 "Error running ./manage start under docker"
ERROR: The image for the service you're trying to recreate has been removed. If you continue, volume data could be lost. Consider backing up your data before continuing.

Continue with the new image? [yN]y
Pulling caddy (greenlight:)...
ERROR: pull access denied for greenlight, repository does not exist or may require 'docker login'

[2019-05-28 10:52] ianco commented on #240
I've noticed this error when I've deleted the docker images without removing the volumes (i.e. "./manage stop" followed by "docker rmi <images>"

Try doing a full cleanup ("./manage rm" in all shells) followed by "./manage build", and then try "./manage start" again ...

[2019-05-30 10:54] #240 closed

[2019-06-03 14:37] swcurran opened #241 "Vulnerability - fstream"
We found a vulnerable dependency in a repository you have security alert access to.

@bcgov	bcgov/greenlight

Known moderate severity security vulnerability detected in fstream < 1.0.12 defined in package-lock.json.
package-lock.json update suggested: fstream ~> 1.0.12.

[2019-06-09 22:17] swcurran opened #243 "querystringify vulnerability"
We found a vulnerable dependency in a repository you have security alert access to.

@bcgov	bcgov/greenlight

Known high severity security vulnerability detected in querystringify > 2.0.0 defined in package-lock.json.
package-lock.json update suggested: querystringify ~> 2.0.0.

[2019-06-09 22:20] #241 closed

[2019-06-11 20:39] esune commented on #243
@swcurran `querystringify` is already at a version including the fix for the vulnerability (2.1.1), and therefore the vulnerability alert is not showing in the repository.

[2019-07-17 16:37] ianco opened #245 "Update greenlight to new Aries agent/controller"

[2019-07-17 22:40] #243 closed

[2019-08-01 04:23] kenhuang opened #246 "How to make other fields searchable in agent config?"
https://github.com/bcgov/greenlight/blob/master/config/Readme.md

From the document above, seems only `source_id` and `name` field in services.yml can be searchable, what is the best way to make other fields searchable?

[2019-08-01 21:51] esune commented on #246
I haven't tried this before, but I _**think**_ you should be able to add fields that can be searched by adding a mapping that refers to the `name` model. This should add an entry in the list of fields that Solr, the engine used for searching, will be able to look up when performing a lookup.

You would do something like this:
[code]
to allow searching on both the `org_name` and `some_other_field`.

[2019-08-02 04:24] kenhuang commented on #246
Thanks for the suggestion, had tried the following config, only legal_name value been index in solr.

[code]

postgresql `name` table only store `legal_name`'s value for some reason.
<img width="871" alt="Screen Shot 2019-08-02 at 4 15 16 PM" src="https://user-images.githubusercontent.com/205194/62344119-dfdf5280-b540-11e9-8e54-620291516142.png">
<img width="1296" alt="Screen Shot 2019-08-02 at 4

[2019-08-02 18:18] esune commented on #246
Tagging @andrewwhitehead  in case he has more ideas.

[2019-08-05 02:55] kenhuang commented on #246
Found where the problem is, change to the following should work.

[code]

[2019-08-05 02:56] #246 closed

[2019-08-07 17:49] esune commented on #246
Awesome, thank you for circling back @kenhuang !

[2019-09-04 20:15] seanadipose opened #247 "Workflow/Recipe Page Does not Correctly Render Recipes on Pixel Dense Devices"
# Greenlight Workflow Doesn't Render Correctly on Chromium-Based Browsers

## Problem

Arrows and boxes used for the recipe page on Chromium Browser on Pixel Dense devices do not display correctly.

The current implementation of the workflow piece in Greenlight is dependent upon SVG rendering. A foreignObject selector in HTML is added by the dagreD3 library.

## Cause

A chromium bug is causing th

[2019-09-04 20:50] swcurran commented on #247
Additional note from Sean and my response:

My guess is that the new Greenlight won't drive a change to this screen, but we should be open to a new approach that eliminates this problem anyway. The probability of this issue being seen is pretty high given screens and the use of Chrome, so I think it likely we should address it. A demo with a glaring hole like that is not good.

How about one last

[2019-09-04 23:45] seanadipose commented on #247
Requirements

support n-rows
support n-connections
support custom splitting & elements
support n-items / row
support CSS styling
mxGraph 4.0.4

mxGraph is a library that forms the underpinnings for draw.io. We can draw the graphs in such a way that we avoid rendering HTML templates that are connected to the foreignObject selectors, which will resolve the main issue. This will also make the solutio

[2019-09-05 16:21] esune opened #248 "Implement pr-based pipeline"
Using the [BC Developer Kit](https://github.com/BCDevOps/bcdk), update OpenShift configurations to use the pr-based pipeline workflow.

Implementing this pattern for greenlight will be used to evaluate if and how to implement it for the other VON components.

[2019-12-12 18:10] swcurran commented on #248
Moving this issue to backlog and unassigning the task.

[2020-04-17 19:42] repo-mountie[bot] opened #255 "Add missing topics"
# TL;DR

Topics greatly improve the discoverability of repos; please add the short code from the table below to the topics of your repo so that ministries can use GitHub's search to find out what repos belong to them and other visitors can find useful content (and reuse it!).

### Why Topic

In short order we'll add our 800th repo. This large number clearly demonstrates the success of using GitHub

[2020-04-23 20:09] swcurran commented on #255
Done

[2020-04-23 20:09] #255 closed

[2020-04-30 21:07] itchison opened #256 "Update caddy file to V2"
The https://github.com/BCDevOps/s2i-caddy repo recently updated to Caddy V2. When using the latest code from this repo, caddy in greenlight complains about the log directive. I rolled the recent changes back in a forked repo and was able to stand up caddy in greenlight. My suspicion is this is a result in the upgrade to V2 or some other recent commits against bcdevops/s2i-caddy. IANACE (I am not a

[2020-07-14 17:06] ken5scal opened #258 "Does not start on localhost:5000"
I followed [this tutorial](https://github.com/bcgov/greenlight/tree/master/docker) and expected Greenlight UI to be exposed at the end fo the tutorial.; however, when I access localhost:5000, the request is refused.

[code]
At the same dime, `docker ps` does not receive any running containers with port 5000

[2020-07-14 17:18] WadeBarnes commented on #258
Did you also follow these instructions; https://github.com/bcgov/greenlight/blob/master/docker/VONQuickStartGuide.md

What output do you get when running the commands?

[2020-07-16 16:41] ken5scal commented on #258
Sorry for the lack of explanation.
Yes, that is the guide I just followed, and this is what I got when executing `./mange start `  under    `.../greenlight/docker`

[code]

[2020-07-16 16:43] ken5scal commented on #258
Also, here is  `docker ps `. It seems there is no container that exposes port  `5000` as described in the guide

[code]

[2020-07-16 16:55] WadeBarnes commented on #258
The main greenlight application container is failing to start:
`greenlight_caddy_1 exited with code 1`

[2020-07-16 19:27] WadeBarnes commented on #256
Implemented a workaround; https://github.com/bcgov/greenlight/commit/ad63af2a8f35e30ee1d9b19e0b1e2635df26b6f4

[2020-07-16 19:28] WadeBarnes commented on #258
I've implemented a workaround for your issue.  Please get the latest code and try again.

[2020-07-16 19:30] WadeBarnes commented on #256
We either need to update the Caddy config file to support the new version of Caddy, or mark the repo as archived since we don't have plans for a Hyperledger Aries implementation of tis demo.  Either way there is a decision that needs to be made.

[2020-07-20 15:03] ken5scal commented on #258
thanks, let me try

[2020-07-20 15:30] ken5scal commented on #258
 @WadeBarnes It worked! Thanks so much :)

[2020-07-20 15:30] #258 closed

[2020-11-02 10:42] CJHunter91 opened #262 "No credentials in dropdown"
Hi,

I followed the quickstart guide and all containers are running. I navigate to http://localhost:5000/ and there are no 'credentials' listed under the dropdown...

![image](https://user-images.githubusercontent.com/13787992/97858956-d15d8900-1cf7-11eb-963a-dee413453ab8.png)

As far as I can tell it should be working as expected. Any help would be appreciated.#

Here is the output from the docke

[2020-11-02 14:22] ianco commented on #262
Can you check the browser console to see if it is logging any errors?  "more tools | developer tools | console" (in chrome)

[2020-11-02 15:40] CJHunter91 commented on #262
There is indeed an error being thrown. See below

Environment:

Request Method: GET
Request URL: http://tob-api:8080/api/v2/issuer?page=1

Django Version: 2.2.17
Python Version: 3.6.9
Installed Applications:
['django.contrib.admin',
 'django.contrib.auth',
 'django.contrib.contenttypes',
 'django.contrib.sessions',
 'django.contrib.messages',
 'django.contrib.staticfiles',
 'haystack',
 'rest_fram

[2020-11-02 15:56] ianco commented on #262
Hmmm I wonder if this is due to a change in one of the dependencies.  I'll need to test it out.

[2020-11-02 17:14] ianco commented on #262
Fixed in this OrgBook PR:  https://github.com/bcgov/TheOrgBook/pull/903

[2020-11-03 09:27] CJHunter91 commented on #262
Great that's working now. Thanks for the help.

[2020-11-03 09:27] #262 closed

[2020-11-24 17:15] #248 closed

[2020-11-24 17:16] esune commented on #245
There is no plan to uplift Greenlight to the new Aries agent architecture, as the project has reached its end-of-life.

[2020-11-24 17:16] #245 closed

[2020-11-24 17:16] #85 closed

[2020-11-24 17:16] #247 closed

[2020-11-24 17:17] esune commented on #256
Project has reached end-of-life and will be archived.

[2020-11-24 17:17] #256 closed